/* Basic style reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
    color: black; /* Changed the color to black */
    font-size: 50px;
}

/* Section styles */
section {
    position: relative;
    padding: 15px;
    width: 90%;
    margin: auto; /* Center sections */
    overflow: auto; /* Clear floats */
}

/* Box styles */
div {
    background-color: gray;
    border: 3.5px solid black;
    margin-bottom: 20px; /* Consistent bottom margin for all boxes */
}

/* Subtitle box styles */
.sub1, .sub2, .sub3 {
    position: absolute;
    top: -3.5px; /* Align with the top border of the box */
    right: -3.5px; /* Align with the right border of the box */
    width: 100px;
    padding: 5px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}

.sub1 {
    background-color: #FFB6C1; /* Light pink background */
}

.sub2 {
    background-color: #FF0000; /* Red background */
    color: white; /* White text */
}

.sub3 {
    background-color: #FFFF99; /* Light yellow background */
}

/* Content styles */
.content {
    padding: 5px;
    background-color: gray;
    color: black; /* Ensure content text is black */
    margin-top: 40px; /* Space for the subtitle box */
    height: 150px;
    overflow: auto;
}

/* Responsive Layout */
@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .column-md-6 {
        float: left;
        width: 50%;
    }

    .column-md-12 {
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .column-sm-12 {
        width: 100%;
    }
}
